<?xml version="1.0" encoding="UTF-8"?>
<data>
	<system title="游戏端口 ip等的数据" >
		<socket ip="192.168.1.48" port="6961" checkPort="10906" chatPort="7961"/>
	</system>
	
	<libs tittle="资源文件地址" root="http://1.s.com/" version="2013.10.22" >
		<res tittle="人物替换图图片掉落替换图片以及人物阴影图片的合集">common/loading/common.res</res>
		<login tittle="登录UI">common/loading/newCreateHero.swf</login>
		<ui>
			<swf tittle="游戏组件皮肤">common/loading/skin.swf</swf>
			<swf tittle="战斗文字皮肤">common/loading/fightUI.swf</swf>
			<swf tittle="图标手势皮肤">common/loading/cursorUI.swf</swf>
			<swf tittle="游戏场景小图片资源库">common/loading/common.swf</swf>
			<swf tittle="游戏界面">common/loading/newMainUI.swf</swf>
			<swf tittle="全部ui">common/loading/moduleUI/All.swf</swf>
			<swf tittle="登录模块ui">common/loading/moduleUI/loginUI.swf</swf>
		</ui>  
		<jsonLib tittle="配置文件合集">data/csv/jsonLib.lib</jsonLib>
		<xx2d tittle="优化加载,第一次进入游戏载入主场景的xx2d   ">
			<item >10001</item>
			<item >10010</item>
			<item >20002</item>
			<item >20004</item>
			<item >20005</item>
		</xx2d>
		<files>
			<item id="1001"  tittle="道具数据表" >data/csv/Props_Template.json</item>
			<item id="1002"  tittle="装备数据表" >data/csv/Equip_Template.json</item>
			<item id="1003"  tittle="套装数据表" >data/csv/Equip_Suit.json</item>
			<item id="1004"  tittle="装备属性描述表" >data/csv/propDescription.json</item>
			<item id="1005"  tittle="装备强化等级特效表" >data/csv/enhanceEffect.json</item>
			<item id="1011"  tittle="宠物升级数据表" >data/csv/Pet_Level_Experience.json</item>
			<item id="1012"  tittle="宠物基础属性表" >data/csv/PetConfig.json</item>
			<item id="1013"  tittle="宠物强化系数表" >data/csv/Pet_Str_Ratio.json</item>
			<item id="1021"  tittle="坐骑系数表" >data/csv/Mount_Lv_Basic.json</item>
			<item id="1022"  tittle="坐骑数据表" >data/csv/Mount_Basic.json</item>
			<item id="1031"  tittle="副本数据表" >data/csv/Raid.json</item>
			<item id="1032"  tittle="副本时间数据表" >data/csv/Raid_Time.json</item>
			<item id="1041"  tittle="养成任务表" >data/csv/Grow_Task.json</item>
			<item id="1051"  tittle="刷怪位置表" >data/csv/Flush_Position.json</item>
			<item id="1052"  tittle="刷怪单元表" >data/csv/Flush_Unit.json</item>
			<item id="1053"  tittle="刷怪时间表" >data/csv/Flush_Period.json</item>
			<item id="1061"  tittle="系统通知表" >data/csv/notice.json</item>
			<item id="1071"  tittle="翅膀升级表" >data/csv/Wing_Enhance.json</item>
			<item id="2001"  tittle="NPC商店物品列表" >data/csv/Shop.json</item>
			<item id="3001"  tittle="技能表" >data/csv/Skill.json</item>
			<item id="3002"  tittle="技能特效表" >data/csv/fightEffect.json</item>
			<item id="3003"  tittle="buff表" >data/csv/Buff.json</item>
			<item id="3004"  tittle="技能陷阱表" >data/csv/Trap_Config.json</item>
			<item id="5001"  tittle="任务表" >data/csv/task.json</item>
			<item id="5002"  tittle="任务奖励表" >data/csv/task_reward.json</item>
			<item id="5003"  tittle="任务目标表" >data/csv/task_target.json</item>
			<item id="5004"  tittle="任务对话表" >data/csv/task_dialog.json</item>
			<item id="5005"  tittle="任务对话表" >data/csv/task_loop.json</item>
			<item id="5006"  tittle="任务库表" >data/csv/task_lib.json</item>
			<item id="5007"  tittle="跑环任务库" >data/csv/task_lib.json</item>
			<item id="7001" tittle="场景配置表">data/csv/mapScene.json</item>
			<item id="7002" tittle="场景跳转配置表">data/csv/skipPoint.json</item>
			<item id="7003" tittle="场景跳转配置表">data/csv/searchRoad.json</item>
			<item id="7010" tittle="采集物配置表">data/csv/Gather_Config.json</item>
			<item id="7020" tittle="npc配置表">data/csv/Npc_Config.json</item>
			<item id="7021" tittle="npc位置刷新表">data/csv/Npc_Position.json</item>
			<item id="7030" tittle="id和位置映射表">data/csv/Scene_Position.json</item>
			<item id="8001" tittle="怪物配置表">data/csv/Monster.json</item>
			<item id="9001" tittle="角色加点配置表">data/csv/CharacterConfig.json</item>
			<item id="9002" tittle="人物等级经验表">data/csv/Char_Level_Experience.json</item>
			<item id="9003" tittle="道具模板id配置表">data/csv/const_map.json</item>
			<item id="9004" tittle="称号配置表">data/csv/Title.json</item>
			<item id="9010" tittle="市场分类物品配置表">data/csv/Market_Config.json</item>
			<item id="9011" tittle="市场分类名称配置表">data/csv/MarketType_Config.json</item>
			<item id="9012" tittle="排行榜配置表">data/csv/rankConfig.json</item>
			<item id="9020" tittle="宝石合成配置表">data/csv/merge_gem.json</item>
			<item id="9021" tittle="装备分解配置表">data/csv/equip_decomp.json</item>
			<item id="10001" tittle="公会建筑配置表">data/csv/Guild_Building.json</item>
			<item id="10002" tittle="剧情配置表">data/csv/Story.json</item>
			<item id="10010" tittle="活动配置表">data/csv/Activity.json</item>
			<item id="10011" tittle="答题活动问题配置表">data/csv/Question.json</item>
			<item id="10012" tittle="答题活动奖励配置表">data/csv/Question_Reward.json</item>
			<item id="10020" tittle="兑换奖励表">data/csv/Exchange_Get.json</item>
			<item id="10021" tittle="兑换需求表">data/csv/Exchange_Need.json</item>
			<item id="10022" tittle="兑换组匹配表">data/csv/Exchange_Map.json</item>
			<item id="10030" tittle="装备品质进阶表">data/csv/Equip_Levelup.json</item>
			<item id="10031" tittle="装备强化表">data/csv/Equip_Enhance.json</item>
			<item id="10040" tittle="活动奖励表">data/csv/active_reward.json</item>
			<item id="10041" tittle="在线奖励表">data/csv/OnlineReward.json</item>
			<item id="10042" tittle="签到礼包表">data/csv/SignPackage.json</item>
			<item id="10043" tittle="新手礼包表">data/csv/new_player_gift.json</item>
			<item id="10050" tittle="黑市商店表">data/csv/Black_Shop.json</item>
			<item id="10060" tittle="竞技表">data/csv/Arena.json</item>
			<item id="10070" tittle="a星寻路缓存">data/csv/aStarCache.json</item>
			<item id="10080" tittle="副本奖励表">data/csv/Raid_Reward.json</item>
			<item id="10090" tittle="副本显示奖励表">data/csv/Raid_Reward_Show.json</item>
			<item id="10100" tittle="装备属性值计算的属性表">data/csv/Equip_Attr.json</item>
			<item id="10110" tittle="天命神脉表">data/csv/divine_pulse.json</item>
			<item id="10120" tittle="feed分享表">data/csv/Feed_config.json</item>
			<item id="10121" tittle="黄钻礼包表">data/csv/vip_reward.json</item>
			<item id="10130" tittle="常量数值配置表">data/csv/Config_Data.json</item>
			<item id="10140" tittle="时间开启背包格子表">data/csv/open_cell.json</item>
		</files>
	</libs>
</data>
